@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: gilroy;
    /* background-color: red; */
}
html,body{
    height:100%;
    width:100%;
}